@font-face {
    font-family: "brice-regular";
    src: url("../../assets/BriceRegularExpanded.otf");
  }

body {
    background-color: #E9DFF6;
}

/*connexion*/
.login_div {
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
}

.login {
    font-family: 'brice-regular', sans-serif;
    font-size: 2em;
    text-decoration: none;
    color: black;
}

/*titre et image*/
.title_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
}

.title {
    font-family: 'brice-regular', sans-serif;
    font-size: 6em;
}

.image {
    margin: 0 100px;
    width: 80vh;
}

.image_devise {
    display: flex;
    flex-direction: row;
    margin: 0 100px;
}

.devise_text {
    font-family: 'brice-regular', sans-serif;
    font-size: 2em;
    border: 2px solid black;
    background-color: white;
    padding: 0 60px 0 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.devise_text2 {
    font-family: 'brice-regular', sans-serif;
    font-size: 2em;
    border: 2px solid black;
    background-color: #FDE962;
    padding: 0 60px 0 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 20%;
    margin-left: -20%;
    
}

.devise_text3 {
    font-family: 'brice-regular', sans-serif;
    font-size: 2em;
    border: 2px solid black;
    background-color: #C9A1EF;
    padding: 0 60px 0 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40%;
    margin-left: -40%;
}

/*choix du campus*/
.choose_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
}

.choose_title {
    font-family: 'brice-regular', sans-serif;
    font-size: 2em;
    border: 2px solid black;
    background-color: #FDE962;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.radio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-top: 100px;
}

label {
    font-family: 'brice-regular', sans-serif;
    font-size: 2em;
    margin-bottom: 50px;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
  }

/*map*/







@media screen and (max-width: 768px) {
    .login {
        font-size: 1.5em;
    }

    .title {
        font-size: 3em;
    }

    .image_devise {
        flex-direction: column;
        align-items: center;
    }

    .image {
        width: 100%;
    }

    .devise_text {
        margin-right: 0;
        margin-left: 0;
        font-size: 1.5em;
    }

    .devise_text2 {
        margin-right: 0;
        margin-left: 0;
        font-size: 1.5em;
    }

    .devise_text3 {
        margin-right: 0;
        margin-left: 0;
        font-size: 1.5em;
    }

    .choose_title {
        font-size: 1.5em;
    }
}
    