.cadre{
    font-family: 'brice-regular', sans-serif;
    font-size: 2em;
    border: 2px solid black;
    background-color: #FDE962;
    display: flex;
    align-items: center;
    height: 35vh;
    justify-content: space-around;
}

.left{
    display: flex;
}

.right{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nom{
    margin: 0 100px;
    width: 80vh;
}

.envoiform{
    margin-top: 5%;
    text-align: center;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color: #376FD4;
    width: 200px;
    padding: 10px;
    font-family: 'brice-regular', sans-serif;
    font-size: 1em;
    color: black;
}

.taille{
    display: flex;
    justify-content: center;
}