@font-face {
    font-family: "brice-regular";
    src: url("../../assets/BriceRegularExpanded.otf");
}


body {
    background-color: #C9A1EF;
}

.connexion {
    font-family: 'brice-regular', sans-serif;
    font-size: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.form {
    width: 40%;
}

.input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

}

input {
    color: #333;
    background-color: #C9A1EF;
    border: 1px solid black;
    padding: 8px;
    border-radius: 10px;
    box-sizing: border-box;
    width: 300px;
}


.separation {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 40px
}

label {
    font-family: 'roboto', sans-serif;
    font-size: 1.5em;
    margin: 10px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color: #376FD4;
    width: 200px;
    padding: 10px;
    font-family: 'brice-regular', sans-serif;
    font-size: 1em;
    color: black;
}

@media screen and (max-width: 768px) {
    .login_div {
        margin-top: 100px;

    }

    .form {
        width: 100%;
    }

    .input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    input {
        width: 70%;
    }

    .connexion {
        font-size: 1.5em;
    }

    .title {
        font-size: 3em;
    }

    .button {
        width: 60%;
        margin-top: 20px;
    }

    .separation {
        margin-bottom: 20px;
    }

    .form_div {
        margin-top: 20px;
    }

    label {
        font-size: 1em;
    }
}